body {
  background: rgb(36, 34, 34);
  color: darkcyan;
}
h1 {
  /*color: blue;*/
  color: rgb(36, 34, 34);
}
h2 {
  color: purple;
  background-color: rgb(43, 40, 40);
  padding-left: 10px;
}
p {
  color: gray;
  margin-left: 10px;
}

.page-header-stripe {
  background-color: rgb(82, 10, 88);
  height: 30px;
  width: 100vw;
}
a {
  color: white;
  font-weight: lighter;
  margin-left: 10px;
}

.main-tittle {
  text-align: center;
}

.main-box-div {
  width: 80%;
  margin-left: 20%;
}

.article-tittle p {
  margin-bottom: 50px;
}

.notatka__color {
  background: black;
  _background-color: darkolivegreen;

  color: silver;
  font-weight: 100;
  font-size: 18px;
}

.odsylacz-na-poczatek-strony {
  text-align: center;
  font-weight: lighter;
  height: 35px;
}
.page-footer-stripe {
  background-color: rgb(209, 5, 73);
  color: white;
  font-weight: lighter;
  height: 30px;
  width: 100vw;
  display: inline-block;
}
/*
div {
    margin-left: 0px;
}
*/
.header__fixed-top {
    position: fixed;
    top: 0px;
    left: 0px;
}
.main__fixed-top__ {
    position: fixed;
    top: 30px;
    bottom: 75px;
    left: 0px;
}
.footer__fixed-bootom {
    position: fixed;
    bottom: 0px;
    left: 0px;
}